<!DOCTYPE html>
<html>
<head>
    <title>Products - Carlos Tech Supply</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('products') }}">Products</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('checkout') }}">Cart</a>
</nav>

    <div class="container">
        <h1>Carlos Tech Supply Products</h1>
        <p>A small online store for student cybersecurity gear.</p>

        {% for product in products %}
            <div class="product-card">
                <h2>{{ product["name"] }}</h2>

                <p><strong>Category:</strong> {{ product["category"] }}</p>
                <p>{{ product["description"] }}</p>
                <p class="price">Price: ${{ "%.2f"|format(product["price"]) }}</p>
                <p><strong>Stock:</strong> {{ product["stock"] }}</p>

                <button>Add to Cart</button>
            </div>
        {% endfor %}
    </div>

</body>
</html>
